body {
    background-color: #fffee9;
    margin: 0px;
}

.nav-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.nav-1, .nav-2 {
    display: flex; /* Makes the inner elements inline */
    gap: 15px; /* Adds spacing between elements */
}

.nav-2 button{
    border-radius: 50%;
    cursor: pointer;
}

.sub-main-section{
    background-color:  #f4eee0;
    margin-top: 20px;
    display: flex;
    gap: 70px;
    max-height: 500px;
}
.left{
    display: flex;
    gap: 80px;
    padding: 40px;
}

.left h1{
    font-size: 50px;
} 

.h2main{
    font-size: 30px;
}

.p2{
    font-size: 20px;
}

.mainBtn{
    padding: 10px;
    background-color: #f4eee0;
    border: 1.5px solid rgba(12, 12, 12, 0.2);
}
.footer{
    margin-top: 100px;
    text-align: center;
}